@font-face{
    font-family: "Roboto300";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face{
    font-family: "Roboto400";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face{
    font-family: "Roboto500";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face{
    font-family: "Roboto700";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face{
    font-family: "PD400";
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face{
    font-family: "PD700";
    src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face{
    font-family: "Prata400";
    src: url("../fonts/Prata-Regular.ttf");
}


