$contentBlockWidth: 1178px;

$brownColor: rgba(85, 82, 72, 1);
$darkBrownColor: rgba(27, 26, 23, 1);
$darkBrownColorWithOpacity: rgba(27, 26, 23, 0.82);
$lineColor: rgba(139, 131, 113, 1);
$darkGreyColor: rgba(68, 66, 64, 1);
$whiteColor: rgba(255, 255, 255, 1);
$whiteColorWithOpacity: rgba(255, 255, 255, 0.75);
$milkColor: rgba(253, 253, 251, 1);


$littleFontSize: 12px;
$littleLineHeight: 14.06px;
$mediumFontSize: 14px;
$bigFontSize: 16px;